apprise==1.9.3
autopep8==2.3.2
beautifulsoup4==4.13.4
bidict==0.23.1
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
idna==3.10
Markdown==3.8
oauthlib==3.2.2
packaging==25.0
pycodestyle==2.13.0
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
soupsieve==2.7
typing_extensions==4.13.2
Unidecode==1.4.0
urllib3==2.4.0
